<div class="video">
    <div class="container-lg">
        <video autoplay muted loop>
            <source src="https://cdn.shopify.com/videos/c/o/v/57b4f2b433b646d3adcb78072a61de0d.mp4"
                type="video/mp4">
        </video>
    </div>
</div>

<div class="home-content">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-3 ">
                <div class="content d-flex d-md-block" style="margin-top: 70px;">
                    <div class="me-2">
                        <h4>STÜSSY & MOUNTAIN HARDWEAR</h4>
                        <p>Stüssy and Mountain Hardwear are back with another collaboration, featuring expedition-quality co-branded gear. GORE-TEX® bibs and shells, insulated sub-zero jackets, beanies, caps, and CORDURA® backpacks offer classic, durable.</p>
                    </div>
                    <div class="">
                        <img src="./assets/images/home-content1.jpg" width="100%" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="content d-flex d-md-block" style="margin-top: 20px;">
                    <div class="">
                        <img src="./assets/images/home-content2.jpg" width="100%" alt="">
                    </div>
                    <div class="ms-3" style="margin-top: 40px;">
                        <h4>STÜSSY HOLIDAY '24 LOOKBOOK</h4>
                        <p>For Holiday 24', Stüssy delivers a selection of wardrobe essentials made for practical layering. Blending traditional silhouettes and natural fibres, insulated puffers, soft cashmere sweaters, shearling leather jackets.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3 ">
                <div class="content d-flex d-md-block" style="margin-top: 50px;">
                    <div class="me-2">
                        <h4>STÜSSY & OUR LEGACY WORK VOL. 8</h4>
                        <p>Stüssy and Our Legacy continue their longstanding collaboration with a capsule collection for Fall '24. Highlights include leather blouson jackets, soft Japanese flannels, and knitted rugby sweaters, blending workwear-inspired garments with refined cuts and fabrics.</p>
                    </div>
                    <div class="">
                        <img src="./assets/images/home-content3.jpg" width="100%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="./assets/images/stussy-logo-red.jpg" class="logo-red d-none d-md-block" alt="">
</div>
